@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col text-center text-uppercase">
                <h2>Mis proyectos</h2>
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="https://i.imgur.com/0Py5jJi.png" class="card-img-top" alt="Foto 1" style="object-fit: cover; height: 250px;" />
                    <div class="card-body">
                        <h5 class="card-title">Juegos javascript</h5>
                        <p class="card-text">Aplicando conocimientos de javascript en juegos con eventos aleatorios. Condicionales para mostrar resultados y Math.Random().</p>
                        <a href="https://alejandroschwartz.github.io/flexbox-juegos-ale/" class="btn btn-primary btn-sm">Ir al sitio</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="https://i.imgur.com/QxAzWTY.png" class="card-img-top" alt="Foto 2" style="object-fit: cover; height: 250px;" />
                    <div class="card-body">
                        <h5 class="card-title">Formularios en React</h5>
                        <p class="card-text">Creación y validación de formularios con javascript, en React.</p>
                        <a href="https://alejandroschwartz.github.io/react-formularios/" class="btn btn-primary btn-sm">Ir al sitio</a>
                    </div>
                </div>    
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="https://i.imgur.com/JJvutvJ.jpg" class="card-img-top" alt="Foto 4" style="object-fit: cover; height: 250px;" />
                    <div class="card-body">
                        <h5 class="card-title">Maquetado Insta</h5>
                        <p class="card-text">Aplico conocimientos de HTML, CSS Grid y Responsive Design para maquetar la página de Insta.</p>
                        <a href="https://alejandroschwartz.github.io/react-alegram/" class="btn btn-primary btn-sm">Ir al sitio</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="https://i.imgur.com/se0KlOR.jpgg" class="card-img-top" alt="Foto 3" style="object-fit: cover; height: 250px;" />
                    <div class="card-body">
                        <h5 class="card-title">Maquetado para turismo.</h5>
                        <p class="card-text">Diseño realizado en React.js, con las plantillas Bootstrap.</p>
                        <a href="https://alejandroschwartz.github.io/react-bootstrap-viajes/" class="btn btn-primary btn-sm">Ir al sitio</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="https://i.imgur.com/lVO8RG9.png" class="card-img-top" alt="Foto 5" style="object-fit: cover; height: 250px;" />
                    <div class="card-body">
                        <h5 class="card-title">Portafolio Frontend</h5>
                        <p class="card-text">Reaizado aplicando HTML, CSS y JavaScript.</p>
                        <a href="https://alejandroschwartz.github.io/index.html" class="btn btn-primary btn-sm">Ir al sitio</a>
                    </div>
                </div>    
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="https://i.imgur.com/QiSA7VJ.jpg" class="card-img-top" alt="Foto 6" style="object-fit: cover; height: 250px;" />
                    <div class="card-body">
                        <h5 class="card-title">App C# con .NET Core</h5>
                        <p class="card-text">Creo un aplicacíon de una escuela, con cursos, asignaturas y alumnos en C# con .NET Core.</p>
                        <a href="https://aleschwartzescuela.azurewebsites.net/" class="btn btn-primary btn-sm">Ir al sitio</a>
                    </div>
                </div>
            </div>
        
        </div>
    </div>


</div>

